!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Please Confirm Your Subscription!
  %body
    .container
      #content
        .cta
          .logo Hoodsense
          %h1 Welcome to Hoodsense
          %h2 Please Confirm Your Subscription!
          = link_to "Follow this link to stay on top of our progress!", @url
          %br
          %br
          If you received this email in error, simply delete it.
          %br
          %br
          It's all good, you won't be subscribed if you don't click the confirmation link above.
          %br
          %br
          Though we still love you!
          %br
          %br
          %br
          Thanks,
          %br
          Team Hoodsense