Welcome to Hoodsense
\===============================================

Please Confirm Your Subscription!


Follow this link to stay on top of our progress #{@url}!

If you received this email in error, simply delete it.

It's all good, you won't be subscribed if you don't click the confirmation link above.

Though we still love you!


Thanks,
Team Hoodsense