#signup-partial.signup
  = simple_form_for @registrant do |f|
    = f.input :email, input_html: { class: 'email' }, label: 'sign up to know when we launch', placeholder: 'email address'
    = f.button :submit, 'Subscribe'
