#signup-partial.signup
  #message
  = simple_form_for @registrant, html: { "data-remote" => true } do |f|
    = f.input :email, input_html: { class: 'email' },
    label: 'sign up to know when we launch', placeholder: 'email address', required: false
    = f.button :submit, 'Subscribe'
